<div class="recuperar-container">
  <div class="recuperar-card">
    <h1>Recuperar Senha</h1>
    <p class="descricao">Informe seu e-mail para receber o link de redefinição.</p>

    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <label for="email">Email</label>
      <input id="email" type="email" formControlName="email" placeholder="Digite seu email" />
      <div *ngIf="form.get('email')?.invalid && form.get('email')?.touched" class="erro">
        Email inválido.
      </div>

      <button type="submit" [disabled]="form.invalid">Enviar Link</button>
    </form>

    <div *ngIf="enviado" class="sucesso">
      ✅ Um link foi enviado ao seu e-mail.
    </div>

    <button class="voltar" (click)=voltarLogin()>
      voltar para login
    </button>
  </div>
</div>
 <div><app-loading-overlay /></div>
