<div class="perfil-container">
    <h2>{{usuario.login}}</h2>
  
    <div class="perfil-info">
        <img class="foto-perfil" [src]="usuario.foto" alt="Foto de perfil">

      <form [formGroup]="form" (ngSubmit)="salvar()">
        <div class="campo">
          <label>Nome</label>
          <input type="text" formControlName="nome" />
        </div>
        <div class="campo">
          <label>Email</label>
          <input type="email" formControlName="email" readonly />
        </div>
        <div class="campo">
          <label>Celular</label>
          <input type="text" formControlName="celular" />
        </div>
        <div class="campo">
          <label>Endereço</label>
          <input type="text" formControlName="endereco" />
        </div>
  
        <button type="button" class="bt-mudar-senha" (click)="toggleMudarSenha()">Mudar Senha</button>
  
        <div *ngIf="mudarSenhaVisivel">
          <div class="campo">
            <label>Senha Atual</label>
            <input type="password" formControlName="senhaAtual" />
          </div>
          <div class="campo">
            <label>Nova Senha</label>
            <input type="password" formControlName="novaSenha" />
          </div>
        </div>
  
        <button type="submit" class="bt-salvar">Salvar Alterações</button>
      </form>
    </div>
  </div>
  