


.layout {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
  }
  
  .main-content {
    flex: 1;
    padding: 1rem;
  }
  
  .footer {
    transition: opacity 0.4s ease;
    opacity: 0;
    visibility: hidden;
  
    &.visible {
      opacity: 1;
      visibility: visible;
    }
  }
  