<header class="topbar">
  <div class="logo">🌟 Lumeatech</div>
  <button class="criar-classe" (click)="criarCodigo()"> criar classe
  </button>

  <button class="historico" (click)="verHitorico()">historico</button>
  <div class="barra-de-pesquisa">
    <lucide-icon name="Search"></lucide-icon>
    <input type="text" placeholder="Buscar..." />
  </div>

  <div class="acoes">
    <button class="btn-icone" (click)="abrirPerfil()">
      <lucide-icon name="User"></lucide-icon>
    </button>

    <button class="btn-icone" (click)="logout()">
      <lucide-icon name="LogOut"></lucide-icon>
    </button>
  </div>
</header>
